In [83]:
import pandas as pd
import numpy as np

In [114]:
car=pd.read_csv('quikr_car.csv')

In [115]:
car.head(5)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [116]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

##clean data first

In [121]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [120]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [122]:
backup=car.copy()

In [134]:
car['kms_driven'].unique()

array(['45,000 kms', '40 kms', '28,000 kms', '36,000 kms', '41,000 kms',
       '25,000 kms', '24,530 kms', '60,000 kms', '30,000 kms',
       '32,000 kms', '48,660 kms', '4,000 kms', '16,934 kms',
       '43,000 kms', '35,550 kms', '39,522 kms', '39,000 kms',
       '55,000 kms', '72,000 kms', '15,975 kms', '70,000 kms',
       '23,452 kms', '35,522 kms', '48,508 kms', '15,487 kms',
       '82,000 kms', '20,000 kms', '68,000 kms', '38,000 kms',
       '27,000 kms', '33,000 kms', '46,000 kms', '16,000 kms',
       '47,000 kms', '35,000 kms', '30,874 kms', '15,000 kms',
       '29,685 kms', '1,30,000 kms', '19,000 kms', '54,000 kms',
       '13,000 kms', '38,200 kms', '22,000 kms', '50,000 kms',
       '13,500 kms', '3,600 kms', '45,863 kms', '60,500 kms',
       '12,500 kms', '18,000 kms', '13,349 kms', '29,000 kms',
       '44,000 kms', '42,000 kms', '14,000 kms', '49,000 kms',
       '36,200 kms', '51,000 kms', '1,04,000 kms', '33,333 kms',
       '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms', '24,330 kms',
       '65,480 kms', '2,00,000 kms', '59,000 kms', '99,000 kms',
       '2,800 kms', '21,000 kms', '11,000 kms', '66,000 kms', '3,000 kms',
       '7,000 kms', '38,500 kms', '37,200 kms', '43,200 kms',
       '24,800 kms', '45,872 kms', '40,000 kms', '11,400 kms',
       '97,200 kms', '52,000 kms', '31,000 kms', '1,75,430 kms',
       '37,000 kms', '65,000 kms', '3,350 kms', '75,000 kms',
       '62,000 kms', '73,000 kms', '2,200 kms', '54,870 kms',
       '34,580 kms', '97,000 kms', '60 kms', '80,200 kms', '3,200 kms',
       '0,000 kms', '5,000 kms', '588 kms', '71,200 kms', '1,75,400 kms',
       '9,300 kms', '56,758 kms', '10,000 kms', '56,450 kms',
       '56,000 kms', '32,700 kms', '9,000 kms', '73 kms', '1,60,000 kms',
       '58,559 kms', '57,000 kms', '1,70,000 kms', '80,000 kms',
       '6,821 kms', '23,000 kms', '34,000 kms', '1,800 kms',
       '4,00,000 kms', '48,000 kms', '90,000 kms', '12,000 kms',
       '69,900 kms', '1,66,000 kms', '122 kms', '0 kms', '36,469 kms',
       '7,800 kms', '24,695 kms', '15,141 kms', '59,910 kms',
       '1,00,000 kms', '4,500 kms', '1,29,000 kms', '300 kms',
       '1,31,000 kms', '1,11,111 kms', '59,466 kms', '25,500 kms',
       '44,005 kms', '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '53,000 kms', '35,500 kms', '22,134 kms',
       '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms', '8,000 kms',
       '55,800 kms', '56,400 kms', '72,160 kms', '11,500 kms',
       '1,33,000 kms', '2,000 kms', '88,000 kms', '65,422 kms',
       '1,17,000 kms', '1,50,000 kms', '10,750 kms', '6,800 kms',
       '9,800 kms', '57,923 kms', '30,201 kms', '6,200 kms', '37,518 kms',
       '24,652 kms', '383 kms', '95,000 kms', '3,528 kms', '52,500 kms',
       '47,900 kms', '52,800 kms', '1,95,000 kms', '48,008 kms',
       '48,247 kms', '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '1,37,495 kms',
       '91,200 kms', '1,46,000 kms', '1,00,800 kms', '2,100 kms',
       '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [136]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [137]:
car=car[car['year'].str.isnumeric()]

AttributeError: Can only use .str accessor with string values!

In [138]:
car['year']=car['year'].astype(int)

In [128]:
car=car[car['Price']!="Ask For Price"]

In [20]:
car['Price'].unique()

array(['80,000', '4,25,000', '3,25,000', '5,75,000', '1,75,000',
       '1,90,000', '8,30,000', '2,50,000', '1,82,000', '3,15,000',
       '4,15,000', '3,20,000', '10,00,000', '5,00,000', '3,50,000',
       '1,60,000', '3,10,000', '75,000', '1,00,000', '2,90,000', '95,000',
       '1,80,000', '3,85,000', '1,05,000', '6,50,000', '6,89,999',
       '4,48,000', '5,49,000', '5,01,000', '4,89,999', '2,80,000',
       '3,49,999', '2,84,999', '3,45,000', '4,99,999', '2,35,000',
       '2,49,999', '14,75,000', '3,95,000', '2,20,000', '1,70,000',
       '85,000', '2,00,000', '5,70,000', '1,10,000', '4,48,999',
       '18,91,111', '1,59,500', '3,44,999', '4,49,999', '8,65,000',
       '6,99,000', '3,75,000', '2,24,999', '12,00,000', '1,95,000',
       '3,51,000', '2,40,000', '90,000', '1,55,000', '6,00,000',
       '1,89,500', '2,10,000', '3,90,000', '1,35,000', '16,00,000',
       '7,01,000', '2,65,000', '5,25,000', '3,72,000', '6,35,000',
       '5,50,000', '4,85,000', '3,29,500', '2,51,111', '5,69,999',
       '69,999', '2,99,999', '3,99,999', '4,50,000', '2,70,000',
       '1,58,400', '1,79,000', '1,25,000', '2,99,000', '1,50,000',
       '2,75,000', '2,85,000', '3,40,000', '70,000', '2,89,999',
       '8,49,999', '7,49,999', '2,74,999', '9,84,999', '5,99,999',
       '2,44,999', '4,74,999', '2,45,000', '1,69,500', '3,70,000',
       '1,68,000', '1,45,000', '98,500', '2,09,000', '1,85,000',
       '9,00,000', '6,99,999', '1,99,999', '5,44,999', '1,99,000',
       '5,40,000', '49,000', '7,00,000', '55,000', '8,95,000', '3,55,000',
       '5,65,000', '3,65,000', '40,000', '4,00,000', '3,30,000',
       '5,80,000', '3,79,000', '2,19,000', '5,19,000', '7,30,000',
       '20,00,000', '21,00,000', '14,00,000', '3,11,000', '8,55,000',
       '5,35,000', '1,78,000', '3,00,000', '2,55,000', '5,49,999',
       '3,80,000', '57,000', '4,10,000', '2,25,000', '1,20,000', '59,000',
       '5,99,000', '6,75,000', '72,500', '6,10,000', '2,30,000',
       '5,20,000', '5,24,999', '4,24,999', '6,44,999', '5,84,999',
       '7,99,999', '4,44,999', '6,49,999', '9,44,999', '5,74,999',
       '3,74,999', '1,30,000', '4,01,000', '13,50,000', '1,74,999',
       '2,39,999', '99,999', '3,24,999', '10,74,999', '11,30,000',
       '1,49,000', '7,70,000', '30,000', '3,35,000', '3,99,000', '65,000',
       '1,69,999', '1,65,000', '5,60,000', '9,50,000', '7,15,000',
       '45,000', '9,40,000', '1,55,555', '15,00,000', '4,95,000',
       '8,00,000', '12,99,000', '5,30,000', '14,99,000', '32,000',
       '4,05,000', '7,60,000', '7,50,000', '4,19,000', '1,40,000',
       '15,40,000', '1,23,000', '4,98,000', '4,80,000', '4,88,000',
       '15,25,000', '5,48,900', '7,25,000', '99,000', '52,000',
       '28,00,000', '4,99,000', '3,81,000', '2,78,000', '6,90,000',
       '2,60,000', '90,001', '1,15,000', '15,99,000', '1,59,000',
       '51,999', '2,15,000', '35,000', '11,50,000', '2,69,000', '60,000',
       '4,30,000', '85,00,003', '4,01,919', '4,90,000', '4,24,000',
       '2,05,000', '5,49,900', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [23]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [28]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [31]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [34]:
car=car[car['kms_driven'].str.isnumeric()]

In [35]:
car['kms_driven']=car['kms_driven'].astype(int)

C:\Users\Acer\AppData\Local\Temp\ipykernel_8092\1713770885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven']=car['kms_driven'].astype(int)

In [36]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [37]:
car=car[~car['fuel_type'].isna()]

In [38]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', 'LPG'], dtype=object)

In [43]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join('')

In [44]:
car['name']

0         HyundaiSantroXing
1         MahindraJeepCL550
3           HyundaiGrandi10
4      FordEcoSportTitanium
6                  FordFigo
               ...
883        MarutiSuzukiRitz
885            TataIndicaV2
886      ToyotaCorollaAltis
888              TataZestXM
889        MahindraQuantoC8
Name: name, Length: 816, dtype: object

In [48]:
car=car.reset_index(drop=True)

In [49]:
car

                     name   company  year   Price  kms_driven fuel_type
0       HyundaiSantroXing   Hyundai  2007   80000       45000    Petrol
1       MahindraJeepCL550  Mahindra  2006  425000          40    Diesel
2         HyundaiGrandi10   Hyundai  2014  325000       28000    Petrol
3    FordEcoSportTitanium      Ford  2014  575000       36000    Diesel
4                FordFigo      Ford  2012  175000       41000    Diesel
..                    ...       ...   ...     ...         ...       ...
811      MarutiSuzukiRitz    Maruti  2011  270000       50000    Petrol
812          TataIndicaV2      Tata  2009  110000       30000    Diesel
813    ToyotaCorollaAltis    Toyota  2009  300000      132000    Petrol
814            TataZestXM      Tata  2018  260000       27000    Diesel
815      MahindraQuantoC8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [53]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [54]:
car

                     name   company  year   Price  kms_driven fuel_type
0       HyundaiSantroXing   Hyundai  2007   80000       45000    Petrol
1       MahindraJeepCL550  Mahindra  2006  425000          40    Diesel
2         HyundaiGrandi10   Hyundai  2014  325000       28000    Petrol
3    FordEcoSportTitanium      Ford  2014  575000       36000    Diesel
4                FordFigo      Ford  2012  175000       41000    Diesel
..                    ...       ...   ...     ...         ...       ...
810      MarutiSuzukiRitz    Maruti  2011  270000       50000    Petrol
811          TataIndicaV2      Tata  2009  110000       30000    Diesel
812    ToyotaCorollaAltis    Toyota  2009  300000      132000    Petrol
813            TataZestXM      Tata  2018  260000       27000    Diesel
814      MahindraQuantoC8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [55]:
car.describe()

              year         Price     kms_driven
count   815.000000  8.150000e+02     815.000000
mean   2012.442945  4.017933e+05   46277.096933
std       4.005079  3.815888e+05   34318.459638
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.900000e+05   56879.000000
max    2019.000000  3.100000e+06  400000.000000

In [56]:
car.to_csv('processed_data.csv')

##develop the model

In [57]:
x=car.drop(columns='Price')
y=car['Price']

In [58]:
x

                     name   company  year  kms_driven fuel_type
0       HyundaiSantroXing   Hyundai  2007       45000    Petrol
1       MahindraJeepCL550  Mahindra  2006          40    Diesel
2         HyundaiGrandi10   Hyundai  2014       28000    Petrol
3    FordEcoSportTitanium      Ford  2014       36000    Diesel
4                FordFigo      Ford  2012       41000    Diesel
..                    ...       ...   ...         ...       ...
810      MarutiSuzukiRitz    Maruti  2011       50000    Petrol
811          TataIndicaV2      Tata  2009       30000    Diesel
812    ToyotaCorollaAltis    Toyota  2009      132000    Petrol
813            TataZestXM      Tata  2018       27000    Diesel
814      MahindraQuantoC8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [59]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int32

In [148]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [149]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [150]:
ohe=OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [151]:
ohe.categories_

[array(['AudiA3Cabriolet', 'AudiA41.8', 'AudiA42.0', 'AudiA62.0', 'AudiA8',
        'AudiQ32.0', 'AudiQ52.0', 'AudiQ7', 'BMW3Series', 'BMW5Series',
        'BMW7Series', 'BMWX1', 'BMWX1sDrive20d', 'BMWX1xDrive20d',
        'ChevroletBeat', 'ChevroletBeatDiesel', 'ChevroletBeatLS',
        'ChevroletBeatLT', 'ChevroletBeatPS', 'ChevroletCruzeLTZ',
        'ChevroletEnjoy', 'ChevroletEnjoy1.4', 'ChevroletSail1.2',
        'ChevroletSailUVA', 'ChevroletSpark', 'ChevroletSpark1.0',
        'ChevroletSparkLS', 'ChevroletSparkLT', 'ChevroletTaveraLS',
        'ChevroletTaveraNeo', 'DatsunGOT', 'DatsunGoPlus', 'DatsunRediGO',
        'FiatLineaEmotion', 'FiatPetraELX', 'FiatPuntoEmotion',
        'ForceMotorsForce', 'ForceMotorsOne', 'FordEcoSport',
        'FordEcoSportAmbiente', 'FordEcoSportTitanium',
        'FordEcoSportTrend', 'FordEndeavor4x4', 'FordFiesta',
        'FordFiestaSXi', 'FordFigo', 'FordFigoDiesel', 'FordFigoDuratorq',
        'FordFigoPetrol', 'FordFusion1.4', 'FordIkon1.3', 'FordIkon1.6',
        'HindustanMotorsAmbassador', 'HondaAccord', 'HondaAmaze',
        'HondaAmaze1.2', 'HondaAmaze1.5', 'HondaBrio', 'HondaBrioV',
        'HondaBrioVX', 'HondaCity', 'HondaCity1.5', 'HondaCitySV',
        'HondaCityVX', 'HondaCityZX', 'HondaJazzS', 'HondaJazzVX',
        'HondaMobilio', 'HondaMobilioS', 'HondaWRV', 'HyundaiAccent',
        'HyundaiAccentExecutive', 'HyundaiAccentGLE', 'HyundaiAccentGLX',
        'HyundaiCreta', 'HyundaiCreta1.6', 'HyundaiElantra1.8',
        'HyundaiElantraSX', 'HyundaiElitei20', 'HyundaiEon', 'HyundaiEonD',
        'HyundaiEonEra', 'HyundaiEonMagna', 'HyundaiEonSportz',
        'HyundaiFluidicVerna', 'HyundaiGetz', 'HyundaiGetzGLE',
        'HyundaiGetzPrime', 'HyundaiGrandi10', 'HyundaiSantro',
        'HyundaiSantroAE', 'HyundaiSantroXing', 'HyundaiSonataTransform',
        'HyundaiVerna', 'HyundaiVerna1.4', 'HyundaiVerna1.6',
        'HyundaiVernaFluidic', 'HyundaiVernaTransform', 'HyundaiVernaVGT',
        'HyundaiXcentBase', 'HyundaiXcentSX', 'Hyundaii10',
        'Hyundaii10Era', 'Hyundaii10Magna', 'Hyundaii10Sportz',
        'Hyundaii20', 'Hyundaii20Active', 'Hyundaii20Asta',
        'Hyundaii20Magna', 'Hyundaii20Select', 'Hyundaii20Sportz',
        'JaguarXEXE', 'JaguarXF2.2', 'JeepWranglerUnlimited',
        'LandRoverFreelander', 'MahindraBoleroDI', 'MahindraBoleroPower',
        'MahindraBoleroSLE', 'MahindraJeepCL550', 'MahindraJeepMM',
        'MahindraKUV100', 'MahindraKUV100K8', 'MahindraLogan',
        'MahindraLoganDiesel', 'MahindraQuantoC4', 'MahindraQuantoC8',
        'MahindraScorpio', 'MahindraScorpio2.6', 'MahindraScorpioLX',
        'MahindraScorpioS10', 'MahindraScorpioS4', 'MahindraScorpioSLE',
        'MahindraScorpioSLX', 'MahindraScorpioVLX', 'MahindraScorpioVlx',
        'MahindraScorpioW', 'MahindraTUV300T4', 'MahindraTUV300T8',
        'MahindraTharCRDe', 'MahindraXUV500', 'MahindraXUV500W10',
        'MahindraXUV500W6', 'MahindraXUV500W8', 'MahindraXyloD2',
        'MahindraXyloE4', 'MahindraXyloE8', 'MarutiSuzuki800',
        'MarutiSuzukiA', 'MarutiSuzukiAlto', 'MarutiSuzukiBaleno',
        'MarutiSuzukiCelerio', 'MarutiSuzukiCiaz', 'MarutiSuzukiDzire',
        'MarutiSuzukiEeco', 'MarutiSuzukiErtiga', 'MarutiSuzukiEsteem',
        'MarutiSuzukiEstilo', 'MarutiSuzukiMaruti', 'MarutiSuzukiOmni',
        'MarutiSuzukiRitz', 'MarutiSuzukiS', 'MarutiSuzukiSX4',
        'MarutiSuzukiStingray', 'MarutiSuzukiSwift', 'MarutiSuzukiVersa',
        'MarutiSuzukiVitara', 'MarutiSuzukiWagon', 'MarutiSuzukiZen',
        'MercedesBenzA', 'MercedesBenzB', 'MercedesBenzC',
        'MercedesBenzGLA', 'MiniCooperS', 'MitsubishiLancer1.8',
        'MitsubishiPajeroSport', 'NissanMicraXL', 'NissanMicraXV',
        'NissanSunny', 'NissanSunnyXL', 'NissanTerranoXL', 'NissanXTrail',
        'RenaultDuster', 'RenaultDuster110', 'RenaultDuster110PS',
        'RenaultDuster85', 'RenaultDuster85PS', 'RenaultDusterRxL',
        'RenaultKwid', 'RenaultKwid1.0', 'RenaultKwidRXT',
        'RenaultLodgy85', 'RenaultScalaRxL', 'SkodaFabia',
        'SkodaFabia1.2L', 'SkodaFabiaClassic', 'SkodaLaura',
        'SkodaOctaviaClassic', 'SkodaRapidElegance', 'SkodaSuperb1.8',
        'SkodaYetiAmbition', 'TataAriaPleasure', 'TataBoltXM',
        'TataIndica', 'TataIndicaV2', 'TataIndicaeV2', 'TataIndigoCS',
        'TataIndigoLS', 'TataIndigoLX', 'TataIndigoMarina',
        'TataIndigoeCS', 'TataManza', 'TataManzaAqua', 'TataManzaAura',
        'TataManzaELAN', 'TataNano', 'TataNanoCx', 'TataNanoGenX',
        'TataNanoLX', 'TataNanoLx', 'TataSumoGold', 'TataSumoGrande',
        'TataSumoVicta', 'TataTiagoRevotorq', 'TataTiagoRevotron',
        'TataTigorRevotron', 'TataVentureEX', 'TataVistaQuadrajet',
        'TataZestQuadrajet', 'TataZestXE', 'TataZestXM', 'ToyotaCorolla',
        'ToyotaCorollaAltis', 'ToyotaCorollaH2', 'ToyotaEtios',
        'ToyotaEtiosG', 'ToyotaEtiosGD', 'ToyotaEtiosLiva',
        'ToyotaFortuner', 'ToyotaFortuner3.0', 'ToyotaInnova2.0',
        'ToyotaInnova2.5', 'ToyotaQualis', 'VolkswagenJettaComfortline',
        'VolkswagenJettaHighline', 'VolkswagenPassatDiesel',
        'VolkswagenPolo', 'VolkswagenPoloComfortline',
        'VolkswagenPoloHighline', 'VolkswagenPoloHighline1.2L',
        'VolkswagenPoloTrendline', 'VolkswagenVentoComfortline',
        'VolkswagenVentoHighline', 'VolkswagenVentoKonekt',
        'VolvoS80Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [152]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [153]:
lr=LinearRegression()

In [154]:
pipe=make_pipeline(column_trans,lr)

In [155]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['AudiA3Cabriolet', 'AudiA41.8', 'AudiA42.0', 'AudiA62.0', 'AudiA8',
       'AudiQ32.0', 'AudiQ52.0', 'AudiQ7', 'BMW3Series', 'BMW5Series',
       'BMW7Series', 'BMWX1', 'BMWX1sDrive20d', 'BMWX1xDrive20d',
       'ChevroletBeat', 'ChevroletBeat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [156]:
y_pred=pipe.predict(x_test)

In [157]:
y_pred

array([ 308888.0758144 ,  403600.65513759,  135165.1861208 ,
         88716.37633397,  325731.25009198,  272497.9918658 ,
        704203.06025039,  170430.9632782 ,  531887.74916364,
        180350.25843075,  285169.59927787,  583077.86953688,
        242146.78909957,  429643.61386832,  311201.28789193,
        101694.43745326,  213665.76131029,  285627.51580725,
        364762.79820135,  419679.76333887,  248232.47658061,
        228877.35338999,  158275.19281307,   46147.93633363,
        330656.97903226,  437810.18236779,  551962.21162751,
         30046.89421328,  433516.45755304,  446110.92761522,
        162015.79130857,  482521.48848403,  376522.30687302,
        636579.6980912 ,  386858.90306901,  315503.70998307,
        203675.93261977,  451209.29303132,  359903.63167469,
        734928.02606545,  272289.02933147,  373764.14246166,
        137042.45759241,  148386.89437868,  461199.35671869,
        360285.76198009,  273326.23159548,  166633.37009221,
        256555.98157249,  -10722.36995693,  385850.84426379,
       -163939.64717373,  325199.82272592,  530865.60977214,
        533921.04158111,   75381.78265202,  754317.3622511 ,
        214956.24055391,  434027.78597342,  295372.95791616,
        781881.49960162,   65988.13676246,  421247.35721795,
        292037.39029505,  185182.51728076, 2210759.7172595 ,
        703030.67709949,  396902.3645116 ,  150117.66174347,
        380711.23861513,  261107.89532506,  102433.54761692,
        308695.74823748,  126764.29464123,  454223.47647634,
        376393.50955771,  126860.46705108,  466062.28262816,
         36068.03371758,  233214.42608684,  149303.72130388,
        216991.78383386,  552601.64193349,  207320.72418093,
        530456.96368314,  358228.94831006,  310787.65672237,
        709754.09157792,  296263.99158711,  308888.0758144 ,
        456799.4656754 ,  646808.98149791,  289932.47562148,
        641900.15549013,  405925.25982384,  320028.12401475,
        615938.83956309,  380711.23861513,  242146.78909957,
        314620.62063433,  835028.07944722,  614000.41412716,
        216911.7644752 ,  548427.86199598,  351578.12043461,
        281655.16268373,  479844.35955174,  572320.71153124,
         87021.805993  ,  141649.9115694 ,  487297.21206391,
        172545.83505461,  646587.73007002,   99425.19780766,
        155414.32158855,  816302.67453828,  312312.99306916,
         64943.08888991, -130635.70747845,  299969.59648553,
        402856.63630341,  298091.17859268,  440671.40837187,
        731060.86877818,  363273.99323139,  228326.07522625,
        316348.70567353,  675096.92681747,  304217.27388734,
        455518.57195602,  415489.35493612,  327411.11439247,
        704343.57945992,   61460.2595088 ,   86401.95233701,
        303434.24596515,  207345.80059719,  461683.87211259,
        324263.92154539,  368492.52441434,  370004.54719841,
       1507063.50018039,  615938.83956309,  239060.93082061,
        220739.1597435 ,  498385.42829442,  320264.85381662,
       1495306.3705515 ,   59410.95866892,  845736.90092092,
        719483.70506035,  256462.86138576,  302595.91712534,
         54328.63940262,  598637.86395804,  259450.31219324,
        296184.13188526,  233340.17326907,  469935.7515496 ,
        228326.07522625,  196345.62366829,  159784.03982185,
        365805.54144367])

In [158]:
r2_score(y_test,y_pred)

0.6761151958861679

In [170]:
scores=[]
for i in range(1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [171]:
np.argmax(scores)

433

In [172]:
scores[np.argmax(scores)]

0.8457059012561223

In [173]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8457059012561223

In [174]:
import pickle

In [175]:
pickle.dump(pipe,open('LinearRegressionmodel.csv','wb'))

In [181]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))

ValueError: Found unknown categories ['Maruti Suzuki Swift'] in column 0 during transform